@model Student
@{
    Layout = "~/views/shared/_Layout1.cshtml";
    ViewBag.Title = "Details";
}

    <a href="/Student/index" class="btn btn-info">Students</a>
    <table class="table table-hover table-bordered">
        <thead>
            <tr><th>ID</th> <th>Name</th> <th>BirthDate</th> <th>Email</th><th>Department</th></tr>
        </thead>
        <tbody>
        <tr> <td>@Model.SId </td><td>@Model.FirstName</td> <td>@Model.BirthDate</td> <td>@Model.Email</td> <td>@Model.Department?.Name</td> </tr>
        </tbody>
    </table>

