@model Student
@{
    ViewData["Title"] = "DisplayCreated";
}


<h1>Recentely Created</h1>
<a href="/Student/index" class="btn btn-info">Students</a>
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>ID</th> <th>Name</th> <th>Age</th> <th>Email</th><th>Department</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.Id </td><td>@Model.FirstName</td> <td>@Model.BirthDate</td> <td>@Model.Email</td> <td>@Model.EnrollmentDate</td>
    </tr>
    </tbody>
</table>