@model Student
@{
    Layout = "~/views/shared/_Layout1.cshtml";
    ViewBag.Title = "Edit";
}


    <h1>Edit a student's record</h1>
    <form method="post">
        <table class="table table-hover table-bordered">
            <tr>

            <input hidden asp-for="Id" value="@Model.Id"/>
                    
            </tr>
            <br />
            <tr>
                <label asp-for="FirstName"> </label>
            <input asp-for="FirstName" value="@Model.FirstName" />
            <span asp-validation-for="FirstName"></span>
               
            </tr>
        <br />
        <tr>
            <label asp-for="LastName"> </label>
            <input asp-for="LastName" value="@Model.LastName" />
            <span asp-validation-for="LastName"></span>

        </tr>
        <br />
            <tr>
                <label asp-for="BirthDate"></label>
            <input asp-for="BirthDate" value="@Model.BirthDate" />
            <span asp-validation-for="BirthDate"></span>
            </tr>
        <br />
            <tr>
                <label asp-for="Email"> </label>    
                    <input asp-for="Email"  value="@Model.Email"/>
                <span asp-validation-for="Email"></span>
            </tr>
        <br />
            <tr>
            <label asp-for="DepartemntId"> </label>
            <select asp-for="DepartemntId" asp-items="ViewBag.departments"></select>
            </tr>

            </table>
        <input type="submit" class="btn btn-success" value="Update"/>
    </form>
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    }
